@page
@model Proyecto.Pages.BookListModel
@inject Proyecto.Services.IBookService bookService;
@using Microsoft.AspNetCore.Html;

<partial name="_Grid" model="Model.Books" />

<form action="./Create">
    <input type="submit" class="btn btn-primary" value="Agregar un Libro" />
</form>