@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a la Biblioteca!</h1>
</div>
<div class=img-container>
<div class="index-img">
    <img src="img/01.png">
</div>
</div>
