@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido al sistema de gestión de la biblioteca</h2>
    <p style="color: gray;">Sistema desarrollado para gestionar la base de datos y el estado de préstamo de los libros disponibles.</p>
</div>

<div class=img-container>
    <div class="index-img">
        <img src="img/01.png">
    </div>
</div>

