/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #75a478;
}

.btn-primary {
  color: #fff;
  background-color: #75a478;
  border-color: #75a478; /*set the color you want here*/
  border-radius: 0%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #a5d6a7;
  border-color: #a5d6a7; /*set the color you want here*/
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #75a478;
  border-color: #75a478;
}

.nav-item{
  margin-left: 20px;
}

.text-center{
  margin-top: 30px;
}

.table-container{
  margin-top: 80px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.main-title{
  display: flex;
  margin-top: 30px;
  justify-items: center;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.navbar{
  background-color: #a5d6a7;
}

.form-container{
  display: flex;
  margin-top: 20px;
  margin-left: 17%;
}

.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}